<% layout("/layouts/boilerplate") -%>
<div class="row mt-3">
    <h2 class="col-6 offset-3">Login to Travelicious</h2>
    <div class="col-6 offset-3">
        <form action="/login" method="POST" novalidate class="needs-validation">
            <div class="mb-3">
                <br>
                <lable for="username" class="form-label">Username</lable>
                <input name="username" id="username" type="text" class="form-control" required>
                <!-- <div class="valid-feedback">Username Looks Good!</div>
                <div class="invalid-feedback">oops!The Username looks to be missing</div> -->
            </div>
            <!-- <div class="mb-3">
                <br>
                <lable for="email" class="form-label">email address</lable>
                <input name="email" id="email" type="email" class="form-control" required>
                <div class="valid-feedback">Valid Email!</div>
                <div class="invalid-feedback">oops!The Email looks to be missing</div> -->
            <!-- </div>  -->
            <div class="mb-3">
                <br>
                <lable for="password" class="form-label">password</lable>
                <input name="password" id="password" type="password" class="form-control" required>
                <!-- <div class="valid-feedback">Valid Email!</div>
                <div class="invalid-feedback">oops!The Email looks to be missing</div> -->
            </div>
            <br>
            <button class="btn btn-primary">Login</button>
        </form>
    </div>
</div>